@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwind-scrollbar-hide/v4';

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.shimmer-bg {
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.08);
}

.shimmer-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}
